{
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": {
                    "optimizeForSpeed": false,
                    "sourceMaps": true
                }
            }
        ],
        "@zeit/next-typescript/babel"
    ]
}
